modules = ["nodejs-20"]

[agent]
expertMode = true

[workflows]

[userenv]

[userenv.shared]
PORT = "8080"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 24830
externalPort = 3000
